
header{
    position: relative;
    &:hover ::before {
        transform:scale(1.22) translateY(-85%);
    }     
    ::before{
        position: absolute;
        left: 2rem;
        height: 2rem;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-85%);
        font-size: 1.5rem;
        cursor: pointer;
        transition: all 0.5s;
    }
}
.banner img { 
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
    @media screen and (max-width:700px) {
        min-height: 70vh;
        object-fit: initial;
    }
}
main{
    padding: 0;
}
.resto_title{
    margin-top: -2rem;
    position: relative;
    h2 {
        position:relative;
        font-family: "Shrikhand","cursive";
    }
    i{
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        &:hover {
            background-image: linear-gradient(to top,rgba(147,86,220,0.9),rgba(255,121, 218,0.9));
            font-weight: 600;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }       
}
.resto-main {
    background-color: #F6F6F6;
    padding: 2rem 1rem;
    border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        margin-top: -120px;
        position: relative;
    h2 {
    position:relative;
    font-family: "Shrikhand","cursive";
    .fas{
    color: transparent;
    background-image: linear-gradient(to top,#9356DC ,#FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition:all 200ms ease-in-out;
    border-radius: 2rem 2rem 0 0; 
    }
}
.grid h3{
    text-transform: uppercase;
    position: relative; 
    &::after{
        text-transform: uppercase;
        content: "";
        position: absolute;
        height: 0.25rem;
        width: 2.95rem;
        top: 1.5rem;
        left: 0;
        background-color: #99E2D0;
        padding: 0;
    }  
}
& :hover .fas{
    opacity: 1;
    transform: scale(1.2);
    }
}

    /*version Tablette*/
    @media (min-width:1000px){
        section.grid {
            display: flex;
            justify-content: space-around;
        }
    }
.menu-item {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0.5rem 0;
    box-shadow: 2px 1px 8px -3px #7e7e7e;
    animation: appear 3s;
     @keyframes appear {
        0% {
            transform:translateY(50%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .menu-item-check{
        background-color: #99E2D0;
        height: 75px;
        border-radius: 0 1rem 1rem 0;
        display: flex;
        align-items: center;
        margin-right: -4rem;
        width: 4rem;
        transition: margin-right 0.5s;
        display: grid;
        place-items: center;
        flex-shrink: 0;
    }
    i {
        background-color: white;
        border-radius: 50%;
        width: 2rem;
        aspect-ratio: 1;
        display: grid;
        place-items: center;
        color: #99E2D0;
    }
    &:hover{
        .menu-item-check{
            margin-right: 0;
            transform: scale(1.02);
            opacity: 0.9;
        } 
    i{
        animation: quarterspin 1s ease;
    } 
}
        @keyframes quarterspin {
        0% {
            transform:rotate(-270deg);
        }
        100% {
            transform:rotate(0)
        }
        }
        h3{
        font-weight: 400;
        text-transform: uppercase;
        position:relative;
        &::after {
            content:"";
            position: absolute;
            top: 1.5rem;
            left: 0rem;
            height: 0.25rem;
            width: 2.95rem;
            background-color: #99E2D0;
        }
    }
}   
    .price {
        margin-left: auto;
        font-weight: 900;
        padding:1rem;
    }
    .menu-item-description {
        padding:1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    h4,
    p{
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
    section.order {
        height: 15vh;
        text-align: center;
        place-items: center;
        background-color: #F6F6F6;
        button{
            color: white;
            font-weight: 300;
            font-size: 1.5rem;
            border: none;
            border-radius: 2rem;
            transition:transform;
            box-shadow: 2px 1px 8px -3px #000000;
            background-image:linear-gradient(to top,#9356DC ,#FF79DA);
            padding: 1rem 2rem;
            cursor: pointer; 
        &:hover{
            transform: scale(1.02);
            opacity: 0.9;
        }     
    }    
}
footer 
    h2 {
            position:relative;
            font-family: "Shrikhand","cursive";
            font-weight: 500;
            font-size: 1.17em;
}




    
